@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

/* font-family: 'Montserrat', sans-serif; */

.container {
    font-family: 'Montserrat', sans-serif;
    width: 1160px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.header {
    background: url(../image-background/h-background.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding-bottom: 264px;
    margin-bottom: 10px;
}

.header-navigation{
    background: rgba(94, 93, 88, 0.6);
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}

.header-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 40px;
    cursor: pointer;
}

.logo {
    background: url("../images-icon/polygon.svg") no-repeat;
    padding-top: 17px;
    height: 67px;
    width: 58px;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 31px;
    text-transform: uppercase;
}

.logo-text{
    padding-left: 6px;
    font-size: 32px;
    line-height: 48px;
}

.logo-span{
    color: #18cfab;
    font-weight: 700;
}

.header-link{
    margin-right: 21px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #ffffff90;
}

.header-link:hover {
    color: #18cfab;
    border-bottom: 2px solid #18cfab;
}

.header-search {
    cursor: pointer;
}

.search {
    color: #ffffff90;
    font-size: 22px;
}

.search:hover {
    color: #18cfab;
}

.header-title {
    padding-top: 264px;
    display: flex;
    flex-direction: column;
}

.header-tempory-title {
    font-weight: 700;
    font-size: 35px;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 22px;
}

.tempory-title-span {
    color: #18CFAB;
}

.main-title {
    font-weight: 700;
    font-size: 78px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 22px;
}

.text-title {
    font-weight: 400;
    font-size: 34px;
    color: #D4D4D4;
    text-align: center;
    padding-bottom: 134px;
}

.header-buttons {
    margin: auto;
}

.button {
    display: block;
    text-align: center;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    color: #FFF;
    display: inline-block;
    min-width: 168px;
    padding: 24px 12px;
    border-radius: 8px;
    box-shadow: 0 -3px 0 #FFF;
}

.green-button {
    background: #18CFAB;
    transition: 0.8s;
}

.blue-button {
    background: #00CBF6;
    margin-left: 26px;
    transition: 0.8s;
}

.green-button:hover {
    background: #13e4ba;
}

.blue-button:hover{
    background: #17d8ff;
}

.options{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    margin-bottom: 83px;
}

.options-item{
    padding-top: 90px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 110px;
    cursor: pointer;
}

.options-img{
    padding-bottom: 50px;
}

.options-text{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;  
    text-transform: uppercase;
}

.green-text{
    color: #18CFAB;
}

.white-text{
    color: #FFFFFF;
}

.black-item{
    background: #1C2A33;
}

.green-item{
    background: #18CFAB;
}

.service-title{
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    text-align: center;
    position: relative;
    padding-bottom: 100px;
}

.service-title::after{
    content: "";
    width: 76px;
    position: absolute;
    border-bottom: 2px solid #18CFAB;
    top: 60px;
    left: 52%;
    transform: translateX(-60%);
}

.service-title::before{
    content: "";
    width: 76px;
    position: absolute;
    border-bottom: 2px solid #18CFAB;
    top: 56px;
    bottom: 60%;
    right: 43%;
    transform: translateX(-60%);
}

.service-list{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.service-list-item{
    padding: 30px 0;
    border: 1px solid #EDEFEF;
    background-color: #f8fcfe;
    font-size: 16px;
    cursor: pointer;
    font-weight: 400;
    line-height: 39px;
    color: #717171;
    text-align: center;
}

.service-list-item.active {
    position: relative;
    border: 1px solid #18cfab;
    background-color: #18cfab;
    color: #FFFFFF;
}

.service-list-item::after {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    bottom: -20px;
    left: 86px;
    border: 10px solid  transparent;
    border-top: 10px solid #18cfab;
}

.service-content {
    padding-top: 25px;
    padding-bottom: 100px;
    height: 140px;
    box-sizing: content-box;
}

.description {
    display: none;
}

.description.active {
    display: flex;
}

.service-img {
    width: 195px;
    height: 140px;
    border: 1px solid #9e9e9450;
    margin-right: 20px;
}

.buy-and-install {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 96px;
}

.buy-and-install-title{
    padding-top: 127px;
    font-weight: 700;
    font-size: 40px;
    color: #18CFAB;
    text-transform: uppercase;
}

.buy-and-install-subtitle{
    padding-top: 13px;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
}

.padding-button{
    margin-top: 64px;
    margin-bottom: 130px;
}

.buy-and-install{
    background-image: url(../image-background/m-background.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    text-align: center;
}

.amazing-work-title{
    font-weight: 400;
    font-size: 36px;
    color: #4E4E4E;
    text-align: center;
    position: relative;
    padding-top: 96px;
    padding-bottom: 97px;
}

.amazing-work-title::after{
    content: "";
    width: 76px;
    position: absolute;
    border-bottom: 2px solid #18CFAB;
    top: 160px;
    left: 52%;
    transform: translateX(-60%);
}

.amazing-work-title::before{
    content: "";
    width: 76px;
    position: absolute;
    border-bottom: 2px solid #18CFAB;
    top: 56px;
    bottom: 33%;
    right: 43%;
    transform: translateX(-60%);
}

.our-amazing-work{
    background: #E9EDEF;
}

.our-amazing-work-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.amazing-work-list{
    display: flex;
    padding-bottom: 71px;
}

.amazing-work-item{
    font-weight: 400;
    font-size: 14px;
    line-height: 42px;
    color: #717171;
    border: 1px solid #DADADA;
    padding: 14px 27px;
    cursor: pointer;
    transition: 0.8s;
}

.amazing-work-item:hover {
    border: 2px solid #18CFAB;
    color: #18CFAB;
}

.work-squares{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 70px;
}

.work-squares-img{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.work-blocks-row.inactive {
    display: none;
}

.work-squares-item{
    width: 285px;
    height: 206px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.work-squares-blocks{
    width: 100%;
    height: 100%;
    background-color: #E9EDEF;
    border-top: 2px solid #18CFAB;;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.5s;
    color: #FFF;
    display: none;
    text-align: center;
    cursor: pointer;
}

.work-squares-item:hover .work-squares-blocks{
    display: inline-block;
    top: 0;
    left: 0;
    cursor: pointer;
}


.work-squares-blocks-links{
    padding-top: 40px;
    display: flex;
    justify-content: center;
}

.blocks-link{
    border: 1px solid #18CFAB;
    border-radius: 30px;
    padding: 12px;
    width: 40px;
    height: 40px;
    margin-right: 3px;
}

.blocks-link:hover {
    background-color: #18CFAB;
}

.green-chain {
    background-image: url(../images-icon/green-chain.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.green-chain:hover {
    background-image: url(../images-icon/white-chain.svg);
}

.green-squares {
    background-image: url(../images-icon/green-squares.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.green-squares:hover {
    background-image: url(../images-icon/white-squares.svg);
}

.work-squares-blocks-title{
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: #18CFAB;
    text-transform: uppercase;
    padding-top: 35px;
}

.work-squares-blocks-page{
    font-weight: 300;
    font-size: 13px;
    line-height: 25px;
    color: #8A8A8A;
}

.load-more-button {
    background: #18CFAB;
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFF;
    display: inline-block;
    width: 168px;
    padding: 22px 0 22px 22px;
    border-radius: 8px;
    text-align: center;
    position: relative;
    margin-bottom: 99px;
    transition: 0.8s;
}

.load-more-button:hover {
    background: #16dfb7;
}

.load-more-button:before {
    content: '+';
    position: absolute;
    left: 22px;
    font-size: 25px;
}

.work-squares-item.is-active {
    display: block;
}

.breaking-news-title{
    font-weight: 400;
    font-size: 36px;
    color: #4E4E4E;
    text-align: center;
    position: relative;
    padding-top: 96px;
    padding-bottom: 97px;
}

.breaking-news-title::after{
    content: "";
    width: 76px;
    position: absolute;
    border-bottom: 2px solid #18CFAB;
    top: 160px;
    left: 52%;
    transform: translateX(-60%);
}

.breaking-news-title::before{
    content: "";
    width: 76px;
    position: absolute;
    border-bottom: 2px solid #18CFAB;
    top: 56px;
    bottom: 33%;
    right: 43%;
    transform: translateX(-60%);
}

.breaking-news{
    background-color: #FFFFFF;
}

.breaking-news-blocks{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 40px;
}

.breaking-news-item{
    width: 263px;
    height: 208px;
    position: relative;
    margin-bottom: 120px;
}

.breaking-news-subtitle{
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #717171;
    padding-top: 12px;
    padding-left: 22px;
}

.breaking-news-item:hover .breaking-news-subtitle {
    color: #18CFAB;
}

.breaking-news-character{
    font-weight: 300;
    font-size: 14px;
    line-height: 39px;
    color: #777777;
    padding-left: 24px;
    display: inline-block;
    opacity: 0.6;
}

.breaking-news-comments{
    font-weight: 300;
    font-size: 14px;
    line-height: 39px;
    color: #777777;
    padding-left: 18px;
    display: inline-block;
    opacity: 0.6;
}

.breaking-news-character:after {
    content: '|';
    padding-left: 103px;
    position: absolute;
    bottom: -31px;
    left: 0;
    width: 0;
    height: 0;
}

.breaking-news-date {
    width: 70px;
    height: 68px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #203E38;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    padding-top: 9px;
    color: #FFF;
    transition: 0.8s;
    font-style: normal;
}

.breaking-news-item:hover .breaking-news-date {
    background-color: #18CFAB;
}

.profile-actor{
    padding-top: 98px;
    background: url("../image-background/m2-background.png");
}

.profile-title{
    font-weight: 400;
    font-size: 36px;
    padding-bottom: 25px;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    padding-bottom: 99px;
}

.profile-title::after{
    content: "";
    width: 76px;
    position: absolute;
    border-bottom: 2px solid #18CFAB;
    top: 66px;
    left: 52%;
    transform: translateX(-60%);
}

.profile-title::before{
    content: "";
    width: 76px;
    position: absolute;
    border-bottom: 2px solid #18CFAB;
    top: 56px;
    bottom: 60%;
    right: 43%;
    transform: translateX(-60%);
}

.quotes {
    display: block;
    margin: 0 auto;
    width: 44px;
    height: 33px;
}

.slider{
    padding-top: 36px;
}

.profile-text{
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #BBBBBB;
    text-align: center;
    padding-bottom: 37px;
}

.actor-description{
    position: relative;
    height: 425px;
    width: 100%;
}

.profile-contant{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.profile-contant.active{
    opacity: 1;
    transition: 1s;
    -webkit-animation: show 3s 1;
            animation: show 3s 1;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
}

.profile-character {
    padding-bottom: 15px;
    font-size: 20px;;
    color: #18cfab;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.profile-profesion{
    padding-bottom: 38px;
    color: #BBBBBB;
    text-align: center;
}

.profile-image{
    display: block;
    margin: auto;
    margin-bottom: 70px;
    height: 143px;
    width: 143px;
    box-sizing: border-box;
    border: 10px solid #0a836a;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.slider-left-and-right{
    display: flex;
    margin: 0 auto;
    width: 500px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    -webkit-user-select:none;
       -moz-user-select:none;
        -ms-user-select:none;
            user-select:none
}

.slider-left{
    width: 30px;
    height: 30px;
    top: 16px;
    box-sizing: border-box;
    border: 1px solid #969a9c;
    color: #969a9c;
    font-size: 18px;
    line-height: 30px;
    position: relative;
}

.slider-left::before {
    content: "<";
    padding-left: 10px;
}

.slider-right{
    width: 30px;
    height: 30px;
    top: 16px;
    box-sizing: border-box;
    border: 1px solid #969a9c;
    color: #969a9c;
    font-size: 18px;
    line-height: 30px;
    position: relative;
}

.slider-right::after {
    content: ">";
    padding-left: 10px;
}

.slider-left:hover, .slider-right:hover{
    background-color: #18cfab;
    border: 1px solid #18cfab;
    font-weight: 700;
    color: #FFFFFF;
    cursor: pointer;
}

.slider-content{
    display: flex;
    width: 370px;
    justify-content: space-between;
}

.slider-image{
    position: relative;
    height: 60px;
    width: 60px;
    box-sizing: border-box;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #18cfab50;
    overflow: hidden;
}

.slider-image.active{
    border: 1px solid #18cfab;
    transform: translate3d(0px, -20px, 0px);
    transition: transform .4s ease-in-out;
    cursor: pointer;
}

.slider-avatar{
    height: auto;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    cursor: pointer;
}

footer {
    width: 100%;
    background-color: #22353F;
    display: flex;
    justify-content: center;
}

.copyright {
    padding: 47px 0;
    font-weight: 300;
    font-size: 14px;
    color: #AEAEAE;
    font-family: 'Montserrat', sans-serif;
}

.copyright span {
    color: #18CFAB;
}

.copyright:first-child {
    padding-right: 7px;
}

.copyright:first-child:after {
    content: '|';
    padding-left: 7px;
}
