@import url('https://fonts.cdnfonts.com/css/circe');
@import url('https://fonts.cdnfonts.com/css/gilam');

.container {
    background-color: #171717;
    font-family: 'Gilam', sans-serif;
    padding-bottom: 239px;
}

.header-logo {
    width: 1460px;
    margin: 0 auto;
    padding-top: 46px;
    padding-bottom: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.back-call {
    text-align: center;
    width: 218px;
    padding: 10px 25px 10px 40px;
    box-sizing: border-box;
    border: 1px solid #E4B564;
    cursor: pointer;
}

.back-call-link {
    color: #E4B564;
}

.phone::before {
    content: url("../images/phone.png");
    padding-right: 10px;
}

.networks {
    width: 1460px;
    margin: 0 auto;
    padding-bottom: 161px;
}

.title {
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
    padding-bottom: 41px;
}

.subtitle {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    padding-bottom: 41px;
}

.grid-working {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 468px 468px;
    grid-template-areas:
    "grid-working-item1 grid-working-item1 grid-working-item2 grid-working-item2 grid-working-item3 grid-working-item3"
    "grid-working-item4 grid-working-item4 grid-working-item4 grid-working-item5 grid-working-item5 grid-working-item5";
    grid-gap: 30px;
    justify-content: center;
    text-align: center;
    font-weight: 700;
}

.grid-working-item1 {
    place-items: center;
    display: grid;
    grid-area: grid-working-item1;
    background-color: #634F2C;
    text-align: center;
    vertical-align: middle;
}

.grid-working-item2 {
    line-height: 28px;
    place-items: center;
    display: grid;
    grid-area: grid-working-item2;
    background-color: #B4A385;
}

.grid-working-item3 {
    place-items: center;
    display: grid;
    grid-area: grid-working-item3;
    background-color: #E4B564;
}

.grid-working-item4 {
    place-items: center;
    display: grid;
    grid-area: grid-working-item4;
    background-color: #635A4A;
}

.grid-working-item5 {
    place-items: center;
    display: grid;
    grid-area: grid-working-item5;
    background-color: #B08C4D;
}

.grid-working-p-style {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
}

.parking {
    width: 1460px;
    margin: 0 auto;
}

.grid-parking {
    margin-top: 94px;
    padding-bottom: 191px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(10, 78px);
    grid-template-areas:
            "grid-parkig-item1  grid-parkig-item2  grid-parkig-item3"
            "grid-parkig-item1  grid-parkig-item2  grid-parkig-item3"
            "grid-parkig-item1  grid-parkig-item2  grid-parkig-item3"
            "grid-parkig-item1  grid-parkig-item2  grid-parkig-item6"
            "grid-parkig-item4  grid-parkig-item2  grid-parkig-item6"
            "grid-parkig-item4  grid-parkig-item5  grid-parkig-item6"
            "grid-parkig-item4  grid-parkig-item5  grid-parkig-item6"
            "grid-parkig-item4  grid-parkig-item5  grid-parkig-item7"
            "grid-parkig-item4  grid-parkig-item5  grid-parkig-item7"
            "grid-parkig-item4  grid-parkig-item5  grid-parkig-item7";
    grid-gap: 30px;
    justify-content: center;
}

span {
    font-weight: 700;
}

.grid-parkig-item1 {
    background-color: #0E0E0E;
    grid-area: grid-parkig-item1;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    padding: 44px 113px 219px 52px;
}

.grid-parkig-item2 {
    background-color: #242424;
    grid-area: grid-parkig-item2;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    padding: 44px 114px 345px 51px;
}

.grid-parkig-item3 {
    background-color: #1F1F1F;
    grid-area: grid-parkig-item3;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    padding: 44px 117px 186px 48px;
}

.grid-parkig-item4 {
    background-color: #1F1F1F;
    grid-area: grid-parkig-item4;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    padding: 56px 113px 479px 52px;
}

.grid-parkig-item5 {
    background-color: #E4B564;
    color: black;
    grid-area: grid-parkig-item5;
    padding: 47px 113px 333px 52px;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 25px;
    font-weight: 500;
}

.grid-parkig-item6 {
    background-color: #0E0E0E;
    grid-area: grid-parkig-item6;
    color: #FFFFFF;
    padding: 44px 117px 244px 48px;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
}

.grid-parkig-item7 {
    background-color: #0A0909;
    grid-area: grid-parkig-item7;
    font-weight: 700;
    color: #FFFFFF;
    padding: 44px 117px 208px 48px;
    font-size: 20px;
    line-height: 25px;
}

.background {
    background-color: #0E0E0E;
}

.brand {
    width: 1460px;
    margin: 0 auto;
}

.brand-wrapper {
    padding-top: 172px;
    display: grid;
}


.projects {
    text-align: center;
    grid-area: all-projects;
    color: #E4B564;
    border: 1px solid #E4B564;
    padding: 10px 39px;
    box-sizing: border-box;
    text-decoration: none;
    width: 218px;
}


.brand-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clients-brand {
    padding-top: 72px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 391px 391px;
    grid-template-areas:
"clients-brand-item1   clients-brand-item2  clients-brand-item3"
"clients-brand-item4   clients-brand-item5  clients-brand-item6";
    justify-content: center;
}

.clients-brand-item1 {
    place-items: center;
    display: grid;
    grid-area: clients-brand-item1;
    background-color: #634F2C;
}

.clients-brand-item2 {
    align-content: center;
    place-items: center;
    display: grid;
    grid-area: clients-brand-item2;
    background-color: #E8D2ABC2;
}

.clients-brand-item3 {
    place-items: center;
    display: grid;
    grid-area: clients-brand-item3;
    background-color: #E4B564;
}

.clients-brand-item4 {
    place-items: center;
    display: grid;
    grid-area: clients-brand-item4;
    background-color: #635A4A;
}

.clients-brand-item5 {
    place-items: center;
    display: grid;
    grid-area: clients-brand-item5;
    background-color: #B08C4D;
}

.clients-brand-item6 {
    place-items: center;
    display: grid;
    grid-area: clients-brand-item6;
    background-color: #634F2C;
}