@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.container {
    width: 1280px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

.logo {
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    margin-top: 63px;
    margin-bottom: 40px;
}

.logo-link {
    color: #000000;
}

span {
    color: #4BCAFF;
}

.menu {
    margin-bottom: 49px;
}

.menu-list {
    display: flex;
    justify-content: center;
    background: #35444F;
}

.menu-list-item {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    padding: 24px 40px 24px 40px;
    cursor: pointer;
    border-left: 1px solid #FFFFFF;
    transition: 0.8s;
}

.menu-list-item:hover {
    background: #222F3A;
}

.border-right {
    border-right: 1px solid #FFFFFF;
}

.menu-list-item-link {
    color: #FFFFFF;
}

.wrapper {
    display: flex;
    gap: 46px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid black;
    width: 344px;
    color: #485863;
    font-size: 27px;
}

.sidebar-list-item-link {
    color: #485863;
    display: block;
    padding: 26px 0 30px 44px;
    transition: 0.8s;
}

.sidebar-list-item-link:hover {
    padding-left: 60px;
    background-color: #DBDBDB;
}

.img-wrapper-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 885px;
    height: 529px;
    border: 1px solid black;
    margin-bottom: 37px;
}

.img-hover {
    cursor: pointer;
    transition: 0.8s;
}

.img-hover:hover {
    transform: scale(1.3);
}

.foot-menu {
    height: 69px;
    background-color: #63696E7A;
    margin-top: 54px;
    display: flex;
    align-content: center;
}

.foot-list {
    font-size: 28px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 875px;
    margin-left: 40px;
}

.copyright {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-left: 135px;
    font-size: 24px;
    font-weight: 400;
}

.foot-list-item-link {
    color: black;
}

.foot-list-item-link {
    transition: 0.8s;
}

.foot-list-item-link:hover {
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
}

.change-btn {
    border: 1px solid black;
    border-radius: 4px;
    color: rgb(70, 187, 241);
    font-size: 20px;
    font-weight: bold;
    height: 50px;
    width: 200px;
    margin-bottom: 20px;
    cursor: pointer;
    
}

.change {
    background-color: rgb(231, 180, 69);
}
.change li {
    background-color: rgb(174, 235, 95);
}

.change p {
    color: rgb(181, 91, 216);
}
.change span {
    color: rgb(231, 73, 53);
}
